@import "variables";

body {
  font-family: @font-family-main;
  margin: 0;
  padding: 0;
  font-size: @font-size-main;
  background-image: @theme-default-bgimage;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: @color-dark-gray;
}
img {
  display: block;
}
h2 {
  color: @color-white;
  text-align: center;
}
.wrapper {
  max-width: @max-width;
  margin: auto;
  padding: @spacing-large 0;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding: @spacing-large @spacing-large;
  }
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: @spacing-large;
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: block;
      margin: 0 10px;
      padding: 7px 10px;
      min-width: 70px;
      border: 2px solid transparent;
      color: @color-white;
      text-align: center;
      font-family: @font-family-main;
      font-weight: @font-bold;
      text-shadow: @text-shadow-yellow;
      transition: @transition;
      border-radius: @border-radius-small;
    }
    .active {
      border: 2px solid @color-violet;
      color: @color-violet;
      text-shadow: none;
    }
  }
}

.navbarnavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .linkbutton {
    margin: @spacing-small;
  }
  .navbutton {
    min-width: 100px;
    border-radius: @border-radius-small;
    font-size: @font-size-standart;
    padding: 10px;
    font-family: @font-family-main;
    font-weight: @font-bold;
    background: none;
    outline: none;
    transition: @transition;
    cursor: pointer;
    &[disabled],
    &[disabled]:hover {
      background: @color-gray;
      color: gray;
      border: 1px solid @color-gray;
      cursor: auto;
    }
  }

  .dark {
    border: 1px solid @color-white;
    color: @color-white;

    &:hover {
      background-color: @color-white;
      color: @color-black;
    }
  }

  .light {
    border: 1px solid @color-black;
    color: @color-black;
    &:hover {
      background-color: @color-black;
      color: @color-white;
    }
  }
}
.main-container {
  .text {
    line-height: 1.7;
    font-size: @font-size-header;
    text-shadow: 0 0 2px @color-black;
    color: @theme-default-header-color;
    transition: color @transition;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 74vh;
  overflow-y: auto;

  .item {
    width: 190px;
    margin: @spacing-medium;
    border-radius: @border-radius-small;
    background-color: @color-white;
    cursor: pointer;
  }
  .item a {
    text-decoration: none;
    text-align: center;
    color: @color-black;
  }
  .person-photo {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top center;
    border-radius: @border-radius-small @border-radius-small 0 0;
  }
}
.texterror {
  width: 600px;
  margin: auto;
  margin-top: 100px;
  line-height: 1.7;
  font-size: @font-size-header;
  text-align: center;
  text-shadow: 0 0 2px @color-white;
  color: @color-yellow;
  -webkit-text-stroke-color: @color-yellow;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: transparent;
}

.notfound {
  .notfoundimg {
    display: flex;
    justify-content: center;
  }
  img {
    width: 250px;
    margin: auto;
    margin-top: 100px;
    object-fit: cover;
    align-items: center;
  }
  h1 {
    color: @color-white;
    margin-top: @spacing-large;
    font-size: @font-size-subheader;
    text-align: center;
    text-shadow: @text-shadow-blue;
  }

  p {
    color: @color-white;
    margin-top: @spacing-large;
    font-size: @font-size-subheader;
    text-align: center;
    text-shadow: @text-shadow-blue;
  }
}
.wrapper-person-page {
  margin-top: 45px;
  .person-page-name {
    padding: @spacing-small;
    font-size: @font-size-subheader;
    font-weight: @font-bold;
    color: @color-white;
    background-color: @color-blue;
    border-radius: @border-radius-small;
  }
  .wrapper-person-pi {
    border-left: 5px solid @color-blue;
    display: flex;
    flex-wrap: wrap;
    padding: @spacing-medium;
    border-radius: @border-radius-small;
    .person-wrapper-img {
      width: 250px;
      height: 350px;
      .person-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .person-wrapper-info {
      width: 300px;
      color: @color-white;
      padding: @spacing-medium;
      margin: @spacing-small;
      background-color: rgba(0, 0, 0, 0.55);
      border-radius: @border-radius-medium;
      border: 1px solid @color-blue;

      .info-container {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .info-list-items {
        background-color: @color-blue;
        padding: @spacing-ultra-small;
        margin: @spacing-small;
        border-radius: @border-radius-small;
      }
      .info-item {
      }
    }
    @media screen and (max-width: 800px) {
      .person-wrapper-info {
        width: 100%;
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .wrapper-person-pi {
      display: flex;
      justify-content: center;
    }
  }
}
.filter {
  h1 {
    color: #fff;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    color: #fff;
  }
  img {
    width: 150px;
    object-fit: cover;
  }
}
::-webkit-scrollbar {
  display: none;
}
